@media only screen and (max-width: 1000px) {

    .marcaFloranda {
        width: 50%;
    }

    .primeiraSessao {
        margin-top: 55px;
    }

    .logoFloranda {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .dataEdicao h1 {
        font-size: 3rem;
    }

    .dataEdicao h2 {
        font-size: 1.7rem;
    }

    .chamada {
        padding: 5px;
    }

    .chamada h2 {
        font-size: 2rem;
        margin-top: -70px;
    }

    .tituloTerceiraSessao {
        font-size: 2rem;
    }

    .terceiraSessao {
        width: 100vw;
    }

    .primColum {
        width: 380px;
        margin: auto;
    }

    .seconColum {
        width: 380px;
        margin: auto;
    }

    .nomeArtista {
        font-size: 1rem;
    }

    .formacaoArtista {
        font-size: 0.8em;
    }

    .fotoPerfil {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .participe {
        font-size: 1.5rem;
    }

    .dataEdicao h3 {
        font-size: 1em;
    }

    .terceiraSessao {
        flex-direction: column;
    }

    .segundaSessao {
        flex-direction: column;

    }

    .evento {
        font-size: 1.4em;
    } 

    .conteiner {
        flex-direction: column-reverse;
    }

    .conteiner-footer {
        justify-content: space-around;
        padding-left: 15px;
        padding-right: 15px;
    }

    .redes-sociais {
        display: flex;
    }
}