body {
    width: 100wv;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../img/2024/gifheader.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.marca {
    width: 100%;
    display: flex;
    justify-content: center;
}

.marcaFloranda {
    width: 25%;
    position: absolute;
    top: 25%;
}

.logoFloranda {
    width: 150px;
    position: absolute;
    bottom: -10%;
}

.primeiraSessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, transparent 85%, #fff 99%), url("../img/2024/fundoSegundaSessao-03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.dataEdicao {
    display: flex;
    flex-direction: column;
}

.dataEdicao h1 {
    font-size: 4rem;
    color: #0B7235;
    font-family: italic, sans-serif;
    font-weight: 900;
    margin-bottom: -15px;
    margin-top: 20px;
}

.dataEdicao h2 {
    color: #C5A903;
    font-size: 2.1rem;
    border: 1px solid #C5A903;
    padding: 10px;
    font-family: italic, sans-serif;
}

.dataEdicao h3 {
    color: #0B7235;
    font-family: regular, sans-serif;
    font-weight: 900;
    font-size: 1.8em;
}

.diaMesEdicao {
    display: flex;
    justify-content: space-between;
}

.segundaSessao {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
}

.imgEventos {
    width: 350px;
    border-radius: 3px;
    box-shadow: 0px 0px 48px 6px rgba(111, 42, 94, 1);
}

.evento {
    font-family: regular, Courier;
    background-color: #6F2A5E;
    color: white;
    padding: 8px;
    margin-top: -15px;
}

.conteiner {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.conteinerEventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card {
    border: none;
    background-color: #FFFF;
    width: 350px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0px 1px 6px 5px rgba(0, 0, 0, 0.09);
    margin-top: -30px;
}

.participe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CartBtn {
    width: 100%;
    border-radius: 20px;
    font-weight: bolder;
    font-size: x-large;
    border: none;
    background-color: #E83780;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    color: white;
    padding: 13px;
}

.card a {
    width: 100%;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    color: #fff;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;

}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}


.infoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    font-family: regular, sans-serif;
}

.chamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chamada h2 {
    display: flex;
    font-family: italic, Courier;
    font-size: 3rem;
    font-weight: 900;
}

.participe {
    font-family: regular, Courier;
    text-transform: uppercase;
    color: #0B7235;
    font-size: 2.5rem;
}

.destaque {
    font-weight: bold;
    font-family: italic, 'Courier New', Courier, monospace;
}

.tituloTerceiraSessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    color: #E83780;
    font-family: italic, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.terceiraSessao {
    display: flex;
    margin: auto;
    width: 100vw;
    margin-top: 20px;
}


.fotoPerfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sobreArtista {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.nomeArtista {
    text-transform: uppercase;
    color: #dbd219;
    font-family: italic, sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.formacaoArtista {
    font-weight: 900;
    font-family: italic, 'Courier New', Courier, monospace;
    color: #E83780;
    text-transform: uppercase;
    font-size: 0.9em;
}

.primColum {
    width: 500px;
    margin: auto;
}

.seconColum {
    width: 500px;
    margin: auto;
}



.localizacao {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.localizacao strong {
    margin: auto;
    background-color: #6F2A5E;
    color: #FFFF;
    padding: 6px;
    width: 200px;
    text-align: center;
    font-family: regular, 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: -20px;
    z-index: 1;
}

iframe {
    width: 100%;
}

address {
    background-color: #2F2E2D;
    padding: 12px;
    font-family: regular, 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
    font-weight: 200;
}

.conteiner-footer {
    background-color: #616161;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoRodape {
    width: 30%;
}

.iconeRedesSociais {
    width: 25px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
}

.insta:hover {
    background-color: #d217979c;
    border: 2px solid #d217979c;
}

.face:hover {
    background-color: #4867AA;
    border: 2px solid #4867AA;
}

.credito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    text-align: center;
    padding: 20px;
    font-family: italic, 'Courier New', Courier, monospace;
    color: #fff;
}

.bamba {
    background: #E30E13;
    background: linear-gradient(to right, #E30E13 0%, #2C396E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.monteiro {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}



/* estilizazão da barra de scroll */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #E83780;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid #0B7235;
}



/* Estilo do meu botão site rodapé*/
.monteiro {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 0.8em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}


/* hover */
.monteiro:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.creditoMonteiro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Botões de rede social
*/

#social-buttons {
    display: flex;
}

.social-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
    transition: 0.3s;
    height: 20px;
}

.facebook {
    background-color: #3b5998;
}

.facebook svg {
    fill: #f2f2f2;
}

.facebook:hover svg {
    fill: #3b5998;
}

.instagram {
    background-color: #c13584;
}

.instagram svg {
    fill: #f2f2f2;
}

.instagram:hover svg {
    fill: #c13584;
}

/* Fim Botoes das redes sociais*/


/* inicio: Preloader */

#preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E83780;
    /* cor do background que vai ocupar o body */
    z-index: 999;
    /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 50%;
    /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.bolas>div {
    display: inline-block;
    background-color: #E83780;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}



.bolas>div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.bolas>div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* fim: Preloader */


/*
seção nova
*/

.quarta {
    margin-top: 50px;
    color: #6F2A5E;
}

.programacao {
    background-image: linear-gradient(to bottom, transparent 85%, #fff 99%), url("../img/back.png");
}

.programacao a {
    text-transform: lowercase;
}

.domingoSegunda {
    display: flex;
    margin-top: 20px;
    padding: 25px;
}

.domingo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    padding: 20px;
    font-size: 1.2rem;
}

.domingo h3 {
    color: #6F2A5E;
    font-family: italic;
    font-size: 1.9rem;
}

.segunda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    padding: 20px;
    font-size: 1.2rem;
}

.segunda h3 {
    color: #6F2A5E;
    font-family: italic;
    font-size: 1.9rem;
}

.programacao span {
    color: #E83780;
    font-weight: bold;
    font-family: italic;
}

.programacao p {
    color: black;
    font-family: italic;
}
